@media screen and (max-width: 768px) {

	.header-footer > div {
		font-size: 10px;
	}

	#wrapper nav {
		position: absolute;
		left: 0;
		top: 66em;
		font-size: 10px;
	}

	aside {
		margin: 0 .5%;
		width: 99%;
		font-size: 10px;
		height: 40em;
	}

	section {
		width: 99%;
		font-size: 10px;
		height: 60em;
		padding-bottom: 6em;
	}

}