
.icon-certificate:before { content: '\e800'; } /* '' */
.icon-users-outline:before { content: '\e801'; } /* '' */
.icon-chat-alt:before { content: '\e802'; } /* '' */
.icon-warning-empty:before { content: '\e803'; } /* '' */