#wrapper {
	width: 50%;
	margin: 1% auto;
	padding: 20px 30px 5px;
	background-color: rgba(53,61,72,1);
	font-size: 16px;
	width: 600px;
}

#header {
	margin-bottom: 20px;
}

.main-section p {
	margin: 0;
}

.section-header {
	color: rgba(105,172,103,1);
}

#header::after {
	display: block;
	content: "";
	clear: both;
}

.main-nav {
	float: right;
}

.main-nav li {
	display: inline-block;
	list-style-type: none;
	padding: 10px;
	margin-left: 20px;
	background-color: rgba(113,113,113,1);
}

.main-nav a {
	color: white;
	text-decoration: none;
}

.logo {
	margin: 0;
	float: left;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: center;
}

.logo a {
	display: inline-block;
	width: 200px;
	height: 75px;
	background-color: rgba(113,113,113,1);
	color: #fff;
	cursor: default;
	text-decoration: none;
}

.logo span {
	position: relative;
	top: 40%;
}

.widgets-wrapper {
	padding: 20px 0 10px;
}

 .widgets-header {
 	font-size: 18px;
 	font-weight: normal;
 	padding: 15px;
 	margin: 0;
 }

.widgets {
	display: inline-block;
	width: 48%;
	height: 350px;
	background-color: rgba(132,134,131,1);
	vertical-align: top;
	margin: 0;
}

.widgets:nth-child(2n+2) {
	float: right;
}

.widgets header {
	height: 50px;
	background-color: rgba(106,171,103,1);
}

.widgets:last-child header {
	background-color: rgba(228,114,114,1);
}

.widgets img {
	width: 100%;
}

.widgets-text {
	padding: 15px;
}

.widgets-text li::before {
	content: "- ";
}

.widgets-text q {
	display: block;
	margin-bottom: 25px;
	font-style: italic;
}

.widgets-text cite {
	display: block;
	font-style: normal;
	text-align: right;
}

.social-networks {
	margin: 0;
}

.social-networks li {
	display: inline-block;
}

.social-networks a {
	display: inline-block;
	width: 34px;
	height: 34px;
}

.google {
	background: url(../images/google.png);
}

.twitter {
	background: url(../images/twitter.png);
}

.facebook {
	background: url(../images/facebook.png);
}