.tasks {
	width: 15em;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: Arial, sans-serif;
}

.tasks-header {
	background-color: rgba(238, 238, 238, 0.5);
	height: 2.143em;
	box-shadow: inset 0 -.5em .75em #ccc;
	border-bottom: 1px solid #ccc;
}

.tasks-title {
	display: inline-block;
	margin: 0;
	padding: 0.25em 0 0.25em 1em;
	font-size: 20px;
}

.icon-menu {
	width: 100%;
	position: relative;
	left: 120px;
	text-align: right;
	text-decoration: none;
	color: #888;
	font-size: 20px;
}

.tasks-list-item {
	display: block;
	border-bottom: 1px solid #ccc;
	padding-left: 1em;
	padding: 0.25em 0 0.25em 1em;
}

.tasks-list-item:last-child {
	border-bottom: none;
}

.tasks-list {
	padding: 0;
	margin: 0;
	border: none;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked ~ .tasks-list-desc {
	color: green;
}

input[type=checkbox]:checked + .icon-ok-circled2 {
	background: url('\e801');
	color: green;
}