.animation-list li{
  display: inline-block;
  margin:0;
}
.animation-list li img {
  display: block;
  opacity:0.7;
  border-radius: 50%;
  border-color: #DE5E33;
  transition: all 1s linear;
}

.animation-list li img:hover {
  width: 200px;
  height: 200px;
  opacity:1;
  transform: translateY(-10px);
  transform: rotate(45deg);
  padding: 3px;
  border: 10px solid #DE5E33;
}