.move-boat:after {
  content: "";
  display: block;
  width: 120px;
  height: 120px;
  background: url('../images/steam.png') no-repeat;
  background-size: 120px;
  position: absolute;
  top: -50%;
  left: -5%;
  opacity: 0;

  -webkit-animation: steaming 5s linear infinite;
}
.move-boat{
  position: absolute;
  bottom:10px;
  -webkit-transition: left 2s linear;
  transition: left 2s ease-in;
  left:0;

  -webkit-animation: boatrot 5s linear infinite,
                     boatmove 20s ease-in-out infinite;
}
.wave{
  position: absolute;
  bottom:0;
  width: 1600px;
  height:150px;
  left:-50%;

  -webkit-animation: wavemove 10s ease-in-out infinite;
}
.sun {
  position: absolute;
  right:0;

  -webkit-animation: sunrot 10s linear infinite;
}
.cloud{
  position: absolute;
  right:-150px;
  z-index:1;

  -webkit-animation: movecloud 15s ease infinite;
}
/* Write your code */

.animation-box {
  -webkit-animation: skycolor 15s ease infinite;
}

@-webkit-keyframes sunrot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes movecloud {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes skycolor {
  50% {
    background-color: #262F37;
  }
}

@-webkit-keyframes boatrot {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes boatmove {
  50% {
    left: 250px;
  }
  100% {
    left 0;
  }
}

@-webkit-keyframes steaming {
  0% {
    opacity: 1;
    transform: translate(-5px,-5px);
  }
  50% {
    opacity: .6;
    transform: translate(-15px,-15px);
  }
  100% {
    opacity: 0;
    transform: translate(-25px,-25px);
  }
}

@-webkit-keyframes wavemove {
  0% {
    left: -50%;
  }
  25% {
    left: -25%;
  }
  50% {
    left: -10%;
    width: 1300px;
    height: 190px;
  }
  75% {
    left: -25%;
  }
  100% {
    left: -50%;
  }
}