.button {
	transition: all .3s linear;
}

.button:hover {
	border-radius: 20px;
	width: 12em;
	border-color: gray;
	box-shadow: 1px 1px 5px black,
				-1px -1px 5px black;
}

.button:first-child:hover {
	background-color: green;
}

.button:nth-child(2):hover {
	background-color: red;
}

.button:nth-child(3):hover {
	background-color: orange;
}

.button:last-child:hover {
	background-color: blue;
}