.anim-container{
  position: relative;
  overflow: hidden;
  height:550px;
}
.anim-img{
  position: absolute;
  top:50%;
  left:50%;
  margin:-300px 0 0 -300px;
}
.logo-picture{
  position: absolute;
  top:50%;
  left:50%;
  margin:-50px 0 0 -50px;
  z-index:1;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition: transform 1s linear 2s;
}
/* Your code */
.anim-container:hover > .anim-img {
  -webkit-animation: rotbackgr 10s linear infinite;
}

.anim-container:hover > .logo-picture {
  transform: scale(1.5);
}

@-webkit-keyframes rotbackgr {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}