body{
	margin: 0;
	padding: 0;
	color: #fff;
	font: 0 Arial, Helvetica, sans-serif;
	background-color: #DB955C;
}

header, footer, article, section, hgroup, nav, figure { display: block; }

/*This layout change height of content and sidebar sections Elasticly depending on the font-size*/

#wrapper{
	border-radius: 5px;
	width: 100%;
	height: 50em;
}

aside {
	width: 30%;
	height: 30em;
}

section {
	width: 68%;
	height: 30em;
}

.header-footer {
	width: auto;
	height: 50px;
	border-radius: 5px;
	margin: .5%;
	background-color: white;
	font-size: 20px;
}

.content {
	display: inline-block;
	border-radius: 5px;
	margin: 0 .5%;
	overflow: hidden;
	background-color: white;
	font-size: 20px;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	color: #DB955C;
	margin: 0;
}