body{
	margin: 0;
	padding: 0;
	color: #fff;
	font: 10px Arial, Helvetica, sans-serif;
	background-color: #DB955C;
}

header, footer, article, section, hgroup, nav, figure { display: block; }



#wrapper{
	border-radius: 5px;
	width: 100%;
	height: 50em;
	color: #DB955C;
}

.left-sidebar {
	position: absolute;
	width: 200px;
	height: 40em;
	left: -150em;
	top: 4.5em;
	background-color: #E67935;
	color: white;
	z-index: 2;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

a:hover > .left-sidebar {
	left: -2em;
}

.right-sidebar {
	width: 32%;
	left: 67%;
}

section {
	width: 65%;
	left: 1em;
}



.header-footer {
	width: 100%;
	height: 5em;
	border-radius: 5px;
	background-color: white;
}

header.header-footer {
	position: fixed;
	background-color: #E67935;
	z-index: 5;
}

header.header-footer h1 {
	color: white;
}

footer.header-footer {
	position: absolute;
	top: 107em;
}


.content {
	display: inline-block;
	border-radius: 5px;
	overflow: hidden;
	height: 100em;
	position: absolute;
	top: 6em;
	background-color: white;
}

h1 {
	display: block;
	text-transform: uppercase;
	text-align: center;
}

header a {
	display: block;
	position: absolute;
	border: 1px solid white;
	border-radius: 5px;
	width: 4em;
	height: 4em;
	top: .5em;
	left: 2em;
	background-color: black;
	z-index: 4;
}