#main {
      width: 60%;
      min-width: 350px;
      max-width: 700px;
      margin: 0 auto;
    }
    .buttons {
      width: 100%;
      height: 800px;
      background-color: #eee;
      padding: 20px;
    }
    
    .btn {
      display: inline-block;
      font-size: 0;
      width: 100%;
      margin-bottom: 20px;
    }

    .text > span:first-child {
      display: block;
      position: relative;
      top: 0px;
      color: rgb(96,114,133);
      font-size: 13px;
      font-family: Arial, sans-serif;
    }
    .text > span:last-child {
      display: block;
      position: relative;
      top: 8px;
      text-transform: uppercase;
      color: rgb(96,114,133);
      font-size: 18px;
      font-family: Arial, sans-serif;
    }
    .icon-bg {
      display: inline-block;
      width: 68px;
      height: 70px;
      background: url(sprite_buttons.png) 0 0 no-repeat;
    }

    /*Initial icons and their location*/

    .icon {
      display: block;
      position: relative;
      top: 18px;
      left: 24px;
      width: 20px;
      height: 32px;
      background: url(sprite_buttons_icons.png) 0 0 no-repeat;
    }
    .iphone .icon {
      background: url(sprite_buttons_icons.png) 0 0 no-repeat;
    }
    .ipad .icon {
      left: 21px;
      width: 26px;
      background: url(sprite_buttons_icons.png) 0 -68px no-repeat;
    }
    .apple .icon {
      left: 20px;
      width: 27px;
      background: url(sprite_buttons_icons.png) 0 -136px no-repeat;
    }
    .mac .icon {
      left: 15px;
      width: 36px;
      background: url(sprite_buttons_icons.png) 0 -204px no-repeat;
    }
    .android .icon {
      top: 17px;
      left: 20px;
      width: 28px;
      background: url(sprite_buttons_icons.png) 0 -272px no-repeat;
    }
    .windows .icon {
      top: 19px;
      left: 18px;
      width: 30px;
      height: 30px;
      background: url(sprite_buttons_icons.png) 0 -340px no-repeat;
    }
    .nokia .icon {
      top: 23px;
      left: 17px;
      width: 32px;
      height: 22px;
      background: url(sprite_buttons_icons.png) 0 -408px no-repeat;
    }
    .chrome .icon {
      left: 18px;
      width: 32px;
      background: url(sprite_buttons_icons.png) 0 -476px no-repeat;
    }
    .downloads .icon {
      top: 19px;
      left: 18px;
      width: 30px;
      height: 30px;
      background: url(sprite_buttons_icons.png) 0 -544px no-repeat;
    }

    /*Defining stretching properties of text part of the buttons*/

    .text {
      display: inline-block;
      font-size: 20px;
      vertical-align: top;
      width: 50%;
      height: 50px;
      background: url(sprite_buttons.png) -120px 0 no-repeat;
      padding: 10px;
    }

    .btn-right-edge {
      display: inline-block;
      width: 80px;
      height: 70px;
      background: url(sprite_buttons.png) -760px 0 no-repeat;
    }

    /*Changing buttons and icons colors*/

    .btn:hover .text span {
      color: white;
    }

    .iphone:hover .icon-bg {
      background: url(sprite_buttons.png) 0 -90px no-repeat;
    }
    .iphone:hover .text {
      background: url(sprite_buttons.png) -120px -90px no-repeat;
    }
    .iphone:hover .btn-right-edge {
      background: url(sprite_buttons.png) -760px -90px no-repeat;
    }
    .iphone:hover .icon {
      background: url(sprite_buttons_icons.png) -66px 0 no-repeat;
    }

    .ipad:hover .icon-bg {
      background: url(sprite_buttons.png) 0 -180px no-repeat;
    }
    .ipad:hover .text {
      background: url(sprite_buttons.png) -120px -180px no-repeat;
    }
    .ipad:hover .btn-right-edge {
      background: url(sprite_buttons.png) -760px -180px no-repeat;
    }
    .ipad:hover .icon {
      background: url(sprite_buttons_icons.png) -66px -68px no-repeat;
    }

    .apple:hover .icon-bg {
      background: url(sprite_buttons.png) 0 -270px no-repeat;
    }
    .apple:hover .text {
      background: url(sprite_buttons.png) -120px -270px no-repeat;
    }
    .apple:hover .btn-right-edge {
      background: url(sprite_buttons.png) -760px -270px no-repeat;
    }
    .apple:hover .icon {
      background: url(sprite_buttons_icons.png) -66px -136px no-repeat;
    }

    .mac:hover .icon-bg {
      background: url(sprite_buttons.png) 0 -180px no-repeat;
    }
    .mac:hover .text {
      background: url(sprite_buttons.png) -120px -180px no-repeat;
    }
    .mac:hover .btn-right-edge {
      background: url(sprite_buttons.png) -760px -180px no-repeat;
    }
    .mac:hover .icon {
      background: url(sprite_buttons_icons.png) -66px -204px no-repeat;
    }

    .android:hover .icon-bg {
      background: url(sprite_buttons.png) 0 -360px no-repeat;
    }
    .android:hover .text {
      background: url(sprite_buttons.png) -120px -360px no-repeat;
    }
    .android:hover .btn-right-edge {
      background: url(sprite_buttons.png) -760px -360px no-repeat;
    }
    .android:hover .icon {
      background: url(sprite_buttons_icons.png) -66px -272px no-repeat;
    }

    .windows:hover .icon-bg {
      background: url(sprite_buttons.png) 0 -450px no-repeat;
    }
    .windows:hover .text {
      background: url(sprite_buttons.png) -120px -450px no-repeat;
    }
    .windows:hover .btn-right-edge {
      background: url(sprite_buttons.png) -760px -450px no-repeat;
    }
    .windows:hover .icon {
      background: url(sprite_buttons_icons.png) -66px -340px no-repeat;
    }

    .nokia:hover .icon-bg {
      background: url(sprite_buttons.png) 0 -540px no-repeat;
    }
    .nokia:hover .text {
      background: url(sprite_buttons.png) -120px -540px no-repeat;
    }
    .nokia:hover .btn-right-edge {
      background: url(sprite_buttons.png) -760px -540px no-repeat;
    }
    .nokia:hover .icon {
      background: url(sprite_buttons_icons.png) -66px -408px no-repeat;
    }

    .chrome:hover .icon-bg {
      background: url(sprite_buttons.png) 0 -630px no-repeat;
    }
    .chrome:hover .text {
      background: url(sprite_buttons.png) -120px -630px no-repeat;
    }
    .chrome:hover .btn-right-edge {
      background: url(sprite_buttons.png) -760px -630px no-repeat;
    }
    .chrome:hover .icon {
      background: url(sprite_buttons_icons.png) -66px -476px no-repeat;
    }

    .downloads:hover .icon-bg {
      background: url(sprite_buttons.png) 0 -720px no-repeat;
    }
    .downloads:hover .text {
      background: url(sprite_buttons.png) -120px -720px no-repeat;
    }
    .downloads:hover .btn-right-edge {
      background: url(sprite_buttons.png) -760px -720px no-repeat;
    }
    .downloads:hover .icon {
      background: url(sprite_buttons_icons.png) -66px -544px no-repeat;
    }