html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#wrapper {
	margin: 0 auto;
	background: #353535;
	height: 100%;
}

#request, #response {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	padding: 1%;
}

#response input, label, button {
	display: block;
	margin-bottom: 10px;
}

#response label[for$=Output] {
	color: orange;
}

#response label:first-child {
	color: #fff;
}

#collection {
	color: orange;
}

#request form {
	
}

#request fieldset {
	width: 100%;
	padding: 0;
	border: none;
}

#json {
	width: 100%;
	font-family: 'open_sansregular';
	margin: 0 0 20px;
	box-shadow: none;
	border: 1px solid #303030;
	background: #454545;
	color: #9C9C9C;
	line-height: 1.8em;
	display: block;
	padding: 6px 12px;
	font-size: 16px;
	outline: none;
	resize: none;
	border-radius: 10px;
	box-sizing: border-box;
	transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
}

#json:focus,
#json:hover {
	border: 1px solid #FF6A00;
	box-shadow: 0 0 10px #FF6A00;
}

#json::-webkit-scrollbar{
	background-color:#454545;
	border-radius: 10px;
} 

#json::-webkit-scrollbar-corner {
      background-color: #454545;
      border: none;
}

#json::-webkit-scrollbar-thumb{
	background-color:#333;
	box-shadow: 1px 1px 5px inset;
	border-radius:10px;
}

label[for=json-btn] {
	color: #fff;
}

button[name=json-btn] {
	display: block;
}